.tableContainer {
  padding: 20px; /* Reduced padding for the container */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1200px;
  margin: 20px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 400px
}

.th, .td {
  text-align: left;
  padding: 20px; /* Increased padding for table cells */
  border-bottom: 1px solid #ddd; /* Reduced border thickness */
}

.th {
  background-color: #007bff;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.td {
  color: #333;
}

.td a, .td a:visited {
  color: #007bff;
  text-decoration: none;
}

.td a:hover {
  text-decoration: underline;
}

.td:last-child {
  text-align: right;
}

.tr {
  margin-bottom: 10px; /* Add space between rows */
}

.tr:hover {
  background-color: #f5f5f5;
}
.datePicker {
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.addressLink {
  color: #007bff;
  cursor: pointer;
}

.addressLink:hover {
  text-decoration: underline;
}

.searchButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.searchButton:hover {
  background-color: #0056b3;
}
