.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blockTitle {
  color: #9ca3af;
  font-size: 0.9rem;
  letter-spacing: -0.05rem;
  font-weight: 300;
}

.blockHeight {
  font-size: 2rem;
  font-weight: 500;
}

.timer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.timeSegment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.75rem;
}

.timeUnit {
  color: #9ca3af;
  font-size: 1rem;
  letter-spacing: -0.05rem;
  font-weight: 300;
}

.separator {
  height: 4rem;
  width: 1px;
  background-color: #9ca3af;
}

.lastBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blockList {
    border-collapse: collapse;
    width: 100%; /* Adjust this as necessary */
    margin-top: 20px; /* Space above the table */
    font-family: Arial, sans-serif; /* Example font */
    color: white; /* Set text color to white */
}

    .blockList thead tr {
        background-color: #406BBC; /* Darker background for the header */
        text-align: left;
    }

.blockList tbody{
    background-color: white;
}

    .blockList th,
    .blockList td {
        padding: 8px 15px; /* Adjust padding as necessary */
        border-right: none; /* Remove vertical lines between columns */
        border-left: none; /* Remove vertical lines between columns */
        text-align: center; /* Center align text in cells */
    }

    /* Update border-bottom for th to keep horizontal lines */
    .blockList th {
        border-bottom: 2px solid #555; /* Darker border for the header bottom */
        /*font-size: 1.1em;*/
    }

        /* No vertical borders for the last th and td on the right */
        .blockList th:last-child,
        .blockList td:last-child {
            border-right: none;
        }

    /* Add horizontal line at the bottom of each row for readability */
    .blockList tbody tr td {
        border-bottom: 1px solid #555;
    }

    /* On hover, highlight the row */
    .blockList tbody tr:hover {
        background-color: #608FE8; /* White background on hover */
        color: black; /* Black text on hover */
    }

    .blockList th:first-child,
    .blockList td:first-child {
        border-left: 1px solid #555; /* Add left border to the first cell */
    }

    .blockList th:last-child,
    .blockList td:last-child {
        border-right: 1px solid #555; /* Add right border to the last cell */
    }