.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #131f31;
  color: white;
}

.containerRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.block {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blockTitle {
  color: #9ca3af;
  font-size: 0.9rem;
  letter-spacing: -0.05rem;
  font-weight: 300;
}

.blockHeight {
  font-size: 2rem;
  font-weight: 500;
}

.timer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.timeSegment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.75rem;
}

.timeUnit {
  color: #9ca3af;
  font-size: 1rem;
  letter-spacing: -0.05rem;
  font-weight: 300;
}

.separator {
  height: 4rem;
  width: 1px;
  background-color: #9ca3af;
}

.lastBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.blockList {
    border-collapse: collapse;
    width: 100%; 
    margin-top: 20px; 
    font-family: Arial, sans-serif; 
    color: white; 
}

.blockList thead tr {
     background-color: #406BBC; 
     text-align: left;
}

.blockList tbody{
    background-color: white;
    color:black;
}

.blockList th,
.blockList td {
     padding: 8px 15px; 
     border-right: none; 
     border-left: none; 
     text-align: center; 
}

    
.blockList th {
     border-bottom: 2px solid #555; 
        
}

        
.blockList th:last-child,
.blockList td:last-child {
     border-right: none;
}

    
.blockList tbody tr td {
     border-bottom: 1px solid #555;
}

    
.blockList tbody tr:hover {
     background-color: #608FE8; 
     color: black; 
}

.blockList th:first-child,
.blockList td:first-child {
     border-left: 1px solid #555; 
}

.blockList th:last-child,
.blockList td:last-child {
     border-right: 1px solid #555; 
}