
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    color: #777;
    font-size: 16px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
}

.todayTb{
    background-color: aliceblue;
}