/* Transaction.css */
body {
    margin: 0;
    padding: 0;
  }
  .desktop {
    background: #1d2127;
  }
  
  .transactions-table-container {
    margin-left: 25%;
    width: 70%;
    border-collapse: collapse;
    height: 1000px;
    background: #1d2127;
    border-radius: 8px;
    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.08);
    margin-top: -10px;
  }
  
  .transactions-table-container + .bar-above-header {
    margin-top: 200px; /* Adjust the value as needed */
  }
  /* style.css */
  
  #root {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    border-radius: 0px;
  }
  
  .each-transaction {
    width: 1160px;
    height: 848px;
    display: block;
    box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.08);
    background-color: #1d2127;
    overflow: visible;
    position: absolute;
    border-radius: 8px;
  }
  
  .above-latest-transactions {
    width: 100%;
    height: 79px;
    display: block;
    background-color: #21272d;
    overflow: visible;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
  }
  
  .transaction {
    width: auto;
    height: 42px;
    display: block;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
    border-color: #ffbb00;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  
  .block {
    width: auto;
    height: auto;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 40px;
    text-align: left;
    position: absolute;
  }
  
  .dashboard {
    width: auto;
    height: auto;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 40px;
    text-align: left;
    position: absolute;
  }
  
  .transactions-table-header {
    text-align: left;
    padding-left: 20px;
    color: #fff;
    font-size: 20pt;
    font-family: "SourceSansPro, Helvetica, Arial, sans-serif";
  }
  
  .transactions-table-row {
    cursor: pointer;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    table-layout: fixed;
    width: 100%;
  }
  .transactions-table-cell {
    border-top: 1px #2d2f39 solid;
    height: 24px;
    padding-left: 20px;
    font-size: 16px;
    font-family: "SourceSansPro, Helvetica, Arial, sans-serif";
    box-sizing: border-box;
  }
  
  .transactions-table-cell.transaction-id {
    color: #00ccff;
  }
  
  .transactions-table-cell.size-header,
  .transactions-table-cell.fee-header,
  .transactions-table-cell.value-header,
  .transactions-table-cell.transaction-id-header {
    color: #78838e;
    font-weight: 600;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
  }
  .transactions-table-cell.size,
  .transactions-table-cell.fee,
  .transactions-table-cell.value {
    color: #ffffff;
  }
  .transactions-table-cell.size {
    width: 100px;
  }
  .transactions-table-cell.fee {
    width: 84px;
  }
  .transactions-table-cell.value {
    width: 170px;
  }
  .transactions-table-cell.transaction-id {
    width: 590px;
  }
  .transactions-table-cell.size-header {
    width: 100px;
  }
  .transactions-table-cell.fee-header {
    width: 84px;
  }
  .transactions-table-cell.value-header {
    width: 170px;
  }
  .transactions-table-cell.transaction-id-header {
    width: 590px;
  }
  
  .transactions-table-divider {
    border-bottom: 1px solid black;
  }
  /* SubNavbar.css */
  
  .sub-navbar {
    width: 100%;
    background-color: #21272d;
    display: flex;
    margin-bottom: 40px;
  }
  
  .sub-nav-container {
    height: auto;
    flex-direction: column-reverse;
    padding: 30px 10px 10px 10px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-right: auto;
    margin-left: auto;
  }
  
  .sub-nav {
    margin-top: 30px;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .search-bar {
    margin: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    background-color: #111316;
    border: 1px solid #78838e;
  }
  .sub-nav a {
    margin-right: 20px;
  }
  
  .sub-nav a {
    margin-right: 0;
  }
  .sub-nav a {
    margin-right: 50px;
    color: #ffffff;
    font-weight: bold;
    line-height: 2.5;
  }
  .search-bar .qrcode-link {
    margin-right: 20px;
  }
  
  .search-bar .search-bar-submit {
    cursor: pointer !important;
    background-color: transparent;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #39434e;
    background-image: url(https://blockstream.info/img/icons/search.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .search-bar-input {
    width: 450px;
    color: #fff;
    background-color: transparent;
    border: none;
    height: 52px;
  }
  .transactions-table-row {
    width: 1004px;
    height: 64px;
  }
  