# yaml file to test github actions

name: Playwright test

on:
  pull_request:
    branches: [main]

jobs:
  Playwright_test:
    runs-on: ubuntu-latest
    env:
      GRAPHQL_API_GATEWAY_URL: ${{ secrets.GRAPHQL_API_GATEWAY_URL }}

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run codegen
   # - run: npm test
